@font-face {
    font-family: 'kurobara gothic';
    src: url('kurobara-gothic-medium.woff2') format('woff2'),
        url('kurobara-gothic-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

